body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.dark-mode {
  /* Estilos para el modo oscuro */
  background-color: #222222;
  color: #ffffff;
}

.formContainer {
  background-color: #ffc082;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.formWrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formWrapper form input {
  padding: 15px;
  border: none;
  width: 90%;
  border-bottom: 1px solid #ffc082;
}

.formWrapper form input:focus {
  outline: none;
}

.formWrapper form input::placeholder {
  color: #d68e5a;
}

.formWrapper button {
  background-color: #ed995d;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.formWrapper button:hover {
  background-color: #d68e5a;
}


.input-password-container {
  display: flex;
  align-items: center;
}

.input-password-container input#password {
  flex: 1;
  margin-right: 20px;
}

#togglePassword {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
}

.formWrapper div.fotoContainer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #d68e5a;
  cursor: pointer;
  align-items: center;
  gap: 16px;
}

.formWrapper div.fotoSeleccionadaContainer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  gap: 16px;
}

.formWrapper img {
  width: 90px;
}

.formWrapper img.fotoSeleccionada {
  width: 90px;
  height: 90px;
  border: 2px solid #b0652d;
  border-radius: 50%;
  object-fit: cover;
}

.formWrapper p {
  color: #d68e5a;
  font-size: 13px;
  margin-top: 10px;
}

.formWrapper a {
  color: #b0652d;
  text-decoration: none;
}

.formWrapper .logo {
  color: #d68e5a;
  font-weight: bold;
  font-size: 30px;
}

.titulo {
  color: #d68e5a;
}

.menu {
  background-color: #ffc082;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.menu.no_chat {
  flex-direction: column;
}

.barralat {
  background-color: #d68e5a;
}

.menu.no_chat .barralat {
  flex: 1;
}

.barralat .barranav {
  display: flex;
  background-color: #b0652d;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: white;
  gap: 30px;
}

.menu .usuario {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.usuario img {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.menu button {
  background-color: #ed995d;
  color: white;
  width: 85px;
  font-size: 13px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.menu button.logout {
  border-radius: 10px;
}

.menu button:hover {
  background-color: #d68e5a;
}

.imagen-ampliada button.cerrar:hover {
  background: none;
  font-size: 26px;
}

.botones_opciones {
  display: flex;
  gap: 15px;
}

.botones_opciones img {
  width: 50px;
}

.buscador {
  border-bottom: 1px solid lightgray;
}

.buscador .formulario {
  padding: 10px;
}

.buscador .formulario input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.buscador .formulario input::placeholder {
  color: lightgray;
}

.chatusuario {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.chats {
  height: 85vh;
  overflow-y: scroll;
}

.chats::-webkit-scrollbar {
  width: 10px;
  height: 0;
  color: #ed995d;
}

.chats .chatusuario,
.buscador .chatusuario.user {
  cursor: pointer;
}

.chats .chatusuario {
  border-bottom: 1px solid lightgray;
}

.chats .chatusuario:hover {
  background-color: #b0652d;
}

.chats .chatusuario {
  border-bottom: 1px solid lightgray;
}

.chats .chatusuario:hover,
.buscador .chatusuario.user:hover {
  background-color: #b0652d;
}

.chatusuario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chatusuario img.conectado {
  border: green solid 3px;
}

.chatusuario img.desconectado {
  border: crimson solid 3px;
}

.chatusuario .chatinfo span.nombre {
  font-size: 18px;
}

.chatusuario .chatinfo span.hora {
  font-size: 14px;
  color: lightgray;
}

.chatusuario .chatinfo p {
  font-size: 16px;
  color: #ddd;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}

.chatusuario .chatinfo p.hora {
  font-size: 14px;
  color: lightgray;
}

.menu .chat {
  flex: 1;
}

.chat .chatinfo {
  height: 50px;
  background-color: #ed995d;
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  justify-content: space-between;
}

.chatinfo .chatnombre {
  font-size: 18px;
  padding-left: 10px;
}

.chatinfo .chatimagen {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chatinfo .chatimagen.conectado {
  border: green solid 3px;
}

.chatinfo .chatimagen.desconectado {
  border: crimson solid 3px;
}

.chatinfo img.llamada,
.chatinfo img.ajustes {
  cursor: pointer;
}

.chatopciones {
  position: relative;
  display: flex;
  align-items: center;
}

.chatopciones img {
  width: 30px;
  height: 30px;
  align-items: end;
  padding-right: 10px;
}

.chatopciones .opcionesmenu p {
  margin: 0;
  padding: 15px;
  background-color: #b0652d;
}

.chatopciones .opcionesmenu p:hover {
  background-color: #d68e5a;
}

.opcionesmenu {
  position: absolute;
  top: 40px;
  left: -60px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.opcionesmenu p {
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.opcionesmenu p:hover {
  background-color: #f3f3f3;
}

.chat .mensajes {
  background-color: lightgray;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: #666 #f5f5f5;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d68e5a;
  border-radius: 20px;
}

.chat .mensajes .mensaje {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.mensaje .infomensaje {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.mensaje .infomensaje img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.mensaje .contenidomensaje {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mensaje .contenidomensaje p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  word-wrap: break-word;
  word-break: break-word;
}

.mensaje .contenidomensaje img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.mensaje.duenno {
  flex-direction: row-reverse;
}

.mensaje.duenno .contenidomensaje {
  align-items: flex-end;
}

.mensaje.duenno .contenidomensaje p {
  background-color: #d68e5a;
  color: white;
  border-radius: 10px 0px 10px 10px;
}

.mensaje.contacto .infomensaje {
  color: blue;
}

.mensaje.duenno .archivo-contenedor p.nombre-archivo {
  background-color: #b0652d;
  border-radius: 10px;
  width: fit-content;
}

.mensaje.contacto .archivo-contenedor p.nombre-archivo {
  background-color: lightgray;
  border-radius: 10px;
  width: fit-content;
}

.mensaje.contacto .contenidomensaje p {
  background-color: whitesmoke;
  border-radius: 0px 10px 10px 10px;
  width: fit-content;
}

.mensaje .hora {
  font-size: 12px;
  color: gray;
  align-self: flex-end;
  margin-top: auto;
}

.chat .input {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input img {
  height: 24px;
  cursor: pointer;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
}

.input input::placeholder {
  color: lightgray;
}

.input .enviar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #ed995d;
  cursor: pointer;
}

.carrusel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carrusel-item {
  position: relative;
  scroll-snap-align: start;
  margin-right: 10px;
}

.carrusel-item img {
  width: 150px;
  height: 150px;
}

.eliminar-imagen {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button.boton-mostrar-barra {
  height: 100%;
  border: none;
  outline: none;
  width: 40px;
}

button.boton-mostrar-barra img {
  max-width: 100%;
  height: auto;
}

.barralat-oculto {
  display: none;
}

.icono-flecha {
  width: 20px;
  height: 20px;
  margin-top: 50%;
  transform: translateY(-50%);
}

.imagen-ampliada {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.imagen-ampliada img {
  max-width: 80%;
  max-height: 80%;
}

.imagen-ampliada button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.ajustes {
  padding: 30px;
}

.ajustes .ajustes-header {
  margin-bottom: 30px;
}

.ajustes .ajustes-header a {
  color: #333;
  text-decoration: none;
}

.ajustes h2 {
  color: #333;
  margin-bottom: 20px;
}

.ajustes form {
  margin-bottom: 30px;
}

.ajustes label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.ajustes input[type="text"],
.ajustes input[type="password"],
.ajustes input[type="file"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.ajustes .submit-btn,
.ajustes .edit-btn,
.ajustes .cancel-btn {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ajustes .submit-btn:hover,
.ajustes .edit-btn:hover,
.ajustes .cancel-btn:hover {
  background-color: #555;
}

.ajustes .edit-btn {
  background-color: #f90;
}

.ajustes .edit-btn:hover {
  background-color: #e85c00;
}

.ajustes .edit-btn[disabled],
.ajustes .cancel-btn[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.ajustes .edit-btn[disabled]:hover,
.ajustes .cancel-btn[disabled]:hover {
  background-color: #ccc;
}

.ajustes img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.ajustes hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.ajustes label input[type="checkbox"] {
  margin-right: 5px;
}

.ajustes .ajustes-section .form-group {
  margin-bottom: 20px;
}

.ajustes .ajustes-section .form-group label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.ajustes .ajustes-section .password-input {
  position: relative;
}

.ajustes .ajustes-section .password-input input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.ajustes .ajustes-section .password-input button {
  position: absolute;
  right: -10px;
  top: 40%;
  transform: translateY(-50%);
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

.ajustes .ajustes-section .password-input button:hover {
  color: #555;
}

.error-message {
  color: red;
  margin-top: 5px;
}


.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-container .admin-buttons {
  margin-bottom: 20px;
}

.admin-container .admin-buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-container .admin-content {
  border-top: 1px solid orange;
  margin-bottom: 20px;
  width: 80%;
}

.config {
  padding: 20px;
}

.config .filtros {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.config .filtros input[type="text"] {
  margin-right: 10px;
  padding: 5px;
}

.config .filtros select {
  margin-right: 10px;
  padding: 5px;
}

.config .filtros button {
  margin-right: 10px;
  padding: 5px 10px;
}

.config .filtros select:last-child {
  margin-right: 0;
}

.config table {
  width: 100%;
  border-collapse: collapse;
  border: solid 5px #b0652d;
  border-radius: 1em;
  overflow: hidden;
}

.config table th,
.config table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.config table tbody {
  background-color: #f2f2f2;
}

.config table th {
  background-color: #ffc082;
}

.config table tr:hover {
  background-color: #f5f5f5;
}

.config table input[type="text"] {
  width: 85%;
  padding: 5px;
}

.config table img {
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.config table button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #ed995d;
  cursor: pointer;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
}

.config table button:hover {
  background-color: #d68e5a;
}

.config table td.botones {
  text-align: center;
}

.config .paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.config .paginacion button {
  margin: 0 5px;
  padding: 5px 10px;
}

.config .paginacion span {
  margin: 0 5px;
  font-weight: bold;
}

.formCrear {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formCrear .form {
  max-width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formCrear .titulo {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formCrear .error {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.formCrear .input-password-container {
  position: relative;
}

.formCrear .input-password-container input[type="password"] {
  padding-right: 35px;
}

.formCrear .input-password-container button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.formCrear .fotoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.formCrear .fotoContainer .foto {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.formCrear .anadirFoto {
  font-size: 14px;
  color: #b0652d;
  cursor: pointer;
}

.formCrear .fotoSeleccionadaContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.formCrear .cambiarFoto,
.formCrear .eliminarFoto {
  margin-left: 10px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.formCrear .boton {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #b0652d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formCrear .error {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-container .admin-buttons {
  margin-bottom: 20px;
}

.admin-container .admin-buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-container .admin-content {
  margin-bottom: 20px;
}
